*{
  margin: 0;
  padding: 0;
}

.list_header{
  float: left;

  li{
    float: left;
    list-style: none;
  }
}

.box_img_header{
  img{
        width: 115%;
    margin: 15px 0px;
  }
}
.text_header_1{
  p{
        font-size: 14px;
    margin: 25px 0px;
  }
}

.text_header_2{
      margin: 15px 5px;
  img{
    float: left;
  }
}
.text_header_2{
  p{
        float: left;
       font-size: 24px;
    margin: 15px 0px;
  }
}
.space{
  width: 320px;
  height: 100px;
}

.bg{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 276px;
}

.box_bg{
      background-color: rgba(65, 65, 65, 0.4);
    margin: 65px 25px;
    position: absolute;

    h2{
          margin-top: 10px;
    padding: 25px;

    }
}

.grid_steps{
  background-color: #e5e5e5;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list_step{
  float: left; 
  padding: 10px 5px;
  
  .step{
    float: left;
    list-style: none;

    div{
      float: left;
    }
  }
}

.img_step{
  margin: 25px 5px;
  img{
    width: 85%;
  }
}

.text_step{
  h3{
        font-size: 18px;
  }
}

.border_sides{
      border-left-style: groove;
    border-right-style: groove;
    border-width: thin;
    height: 150px;
}

.mg_top_15{
  margin-top: 15px;
}

.box_red{
      position: absolute;
    left: 28px;
    top: 10px;
}
.text_box_red{
  background-color: #da4a5c;
  float: left;
      padding: 15px 54px;
  li{
    list-style: none;
    float: left;

    img{
      width: 70%;
    }
  }
}

.box_formulario{
      width: 75%;
    background-color: #417abd;
    padding: 40px 45px;
        margin-top: 70px;
}

#contac{
  width: 300px;
  margin: 15px 0px;
  text-align: center;
}
#nombre, #apellido, #mail, #distrito, #telefono{
      width: 280px;
    padding: 3px;
    margin: 10px 0px;
}

#mensaje{
      width: 280px;
    height: 80px;
    padding-bottom: 55px;
    padding-left: 10px;
}

#enviar{
      background-color: #da4a5c;
    border: 0;
    color: white;
    padding: 10px;
    font-size: 17px;
    margin: 0px 70px;
}

#check{
  width: 15px;
    height: 15px;
}

.text_check{
      display: inline-block;
    font-size: 14px;
    color: white;
    margin: 0px 10px;
}

.text_formulario{
  color: white;
      margin-top: 7px;
}

.sub_text_form{
      background-color: rgba(65, 65, 65, 0.5);
    width: 406px;
    margin: 0;
    padding: 7px;
    font-size: 15px;
    margin-left: -45px;
}

.error{
      position: absolute;
    background-color: #DA4A5C;
    color: white;
    padding: 10px;
    border-radius: 6px;
    right: 78px;
    top: 193px;
    display: none;
    
}

.error2{
      position: absolute;
    background-color: #DA4A5C;
    color: white;
    padding: 10px;
    border-radius: 6px;
    right: 78px;
    top: 244px;
    display: none;
    
}

.box_food_dog, .box_food_cat{
  padding: 15px 35px;
}

.box_footer{
  background-color: gray;
      float: left;
    width: 100%;
    margin-top: 55px;
    padding: 5px;
}

.box_fb{
  float: left;
    width: 60px;
    margin: 0px 95px;
    a{
      img{
        width: 100%;
      }
    }
}

.text_footer{
      float: right;
    margin-right: 130px;
    font-size: 17px;

    p{
          float: right;
    margin: 10px;
    }
}

/*----INICIO RESPONSIVE-----*/

@media (max-width: $screen-phone){

  .box_img_header img {
    width: 115%;
    margin: 3px 14px;
}

.space {
    width: 145px;
    height: 0px;
}

.img_step {
    margin: 4px 5px;
}

.text_header_1{
  text-align: center;
    margin: 0px 44px;

    img{
      width: 45%;
    }
}

.text_header_2{
  margin: 0px 33px;

  p {
    float: left;
    font-size: 24px;
    margin: 5px 0px;
}

}

.text_header_2 img{
  width: 30%;
}

.text_dog, .text_cat{
      font-size: 22px;
    text-align: center;
}

.box_formulario{
  width: 100%;
}

.box_footer{
  margin-top: -1px;
}

.text_footer{
      width: 58%;
    font-size: 13px;
    text-align: center;
    margin-right: 5px;
}



}